<a href="https://colab.research.google.com/github/JeongEun-Hwang/22.01.11-OPR-studies/blob/master/220111_%EC%88%98%EC%97%85_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#딕셔너리(Dictionary)

##1.딕셔너리 만들기
{key:value,key:vlaue...}
[''',,,,]
(1,2,3,4)

In [ ]:
dic = {'name':'황정은','age':20, 'phone':"010-1234-5678","birth":"20220111"}
dic ={1:'황정은'}
dic3={'a':[1,2,3]}

## 2.추가하기

In [ ]:
dic4 ={1:'a'}
dic4[2] ='b'

dic4

{1: 'a', 2: 'b'}

In [ ]:
dic4['name'] ='황정은'
dic4

{1: 'a', 2: 'b', 'name': '황정은'}

In [ ]:
dic4[3] = [1,2,3]
dic4

{1: 'a', 2: 'b', 3: [1, 2, 3]}

## 3.삭제하기

In [ ]:
del dic4[2]
dic4

{1: 'a', 3: [1, 2, 3]}

In [ ]:
a={1:'a',a:'b'}

TypeError: ignored

뒤에 있는 값이 덮어서 나온다
키가 중복되도 오류는 나지 않는다.
==> 키는 중복되며 않된다

In [ ]:
a = {[1,2]:'hi'}
a

TypeError: ignored

키는 무조건 값이 하나여야 한다.

In [ ]:
a = {(1,2):'hi'}
a

{(1, 2): 'hi'}

--> 사용하지 말것
tuple은 불변하는 값이기 때문에 키에 사용할 수 있다.

In [ ]:
dic = {'name':'정영우','age':20, 'phone':"010-1234-5678","birth":"20220111"}
dic.keys()

dict_keys(['name', 'age', 'phone', 'birth'])

키들을

In [ ]:
type(dic.keys())

dict_keys

In [ ]:
for d in  dic.keys():
  print(d)

name
age
phone
birth

dic의 요소들을 하나씩 나열하는 방법
d에 dic.keys 요소를 가져와서 print()한다는 의미

In [ ]:
list(dic.keys())

['name', 'age', 'phone', 'birth']

딕셔너리(키)를 리스트로 변환

In [ ]:
dic.values()

dict_values(['정영우', 20, '010-1234-5678', '20220111'])

값들을 보는 방법 :value함수

In [ ]:
type(dic.values())

dict_values

In [ ]:
dic.items()

dict_items([('name', '정영우'), ('age', 20), ('phone', '010-1234-5678'), ('birth', '20220111')])

키와 리스트를 한방에 얻는 방법
('name', '정영우') =(키,value)
마치 튜플처럼 보이지만 기본적으로 리턴값은 dic.items 값이다.

In [ ]:
dic.clear()
dic

{}

dic 값들을 모두 없앤다.

In [ ]:
dic = {'name':'황정은','age':20, 'phone':"010-1234-5678","birth":"20220111"}

In [ ]:
#이름을 얻고 싶은 경우
#dic.get('name')
dic['name']

'황정은'

In [ ]:
#
dic['tel']

KeyError: ignored

In [ ]:
'name' in dic

True

*값이 딕셔너리에 있는지 확인하는 명령어
(__ ) in dic(딕셔너리 명)

In [ ]:
'tel' in dic

False

### 퀴즈

#### 빈 딕셔너리 만들기

In [ ]:
tmp = []
tmp

[]

#### 스타벅스 커피가격

In [ ]:
#참조 
#dic = {'nam':'황정은','age':20, 'phone':"010-1234-5678","birth":"20220111"}
#**딕셔너리 특징 ={'키 값':value값}**
price ={'스타벅스 톨체라떼':5600,'화이트초콜릿모카':5600,'카페 모카' :5100}

**딕셔너리 특징 ={'키 값':value값}**

In [ ]:
price

{'스타벅스 톨체라떼': 5600, '카페 모카': 5100, '화이트초콜릿모카': 5600}

In [ ]:
price.keys()

dict_keys(['스타벅스 톨체라떼', '화이트초콜릿모카', '카페 모카'])

In [ ]:
price.values()

dict_values([5600, 5600, 5100])

In [ ]:
type(price)

dict

#### 라떼, 아메리카노 추가

In [ ]:
price['카페라떼']=4600
price['아메리카노']= 4100

price

{'스타벅스 톨체라떼': 5600,
 '아메리카노': 4100,
 '카페 모카': 5100,
 '카페라떼': 4600,
 '화이트초콜릿모카': 5600}

딕셔너리의 순서는 키로만 접근하여 키의 순서대로 정렬된다.

In [ ]:
price.keys()

dict_keys(['스타벅스 톨체라떼', '화이트초콜릿모카', '카페 모카', '카페라떼', '아메리카노'])

In [ ]:
price.values()

dict_values([5600, 5600, 5100, 4600, 4100])

####4. 아메리카노 가격

In [ ]:
price['아메리카노']

4100

In [ ]:
price['아메리카노'] =(4100*0.9)
#price['아메리카노'] =int(4100*0.9)
price['아메리카노']

3690

In [ ]:
#2
print(price['아메리카노'*0.9])

TypeError: ignored

#####4. 돌체라떼 삭제

In [ ]:
price ={'스타벅스 돌체라떼':5600,'화이트초콜릿모카':5600,'카페 모카' :5100}
del price['스타벅스 돌체라떼']
price

{'카페 모카': 5100, '화이트초콜릿모카': 5600}

In [ ]:
price ={'스타벅스 돌체라떼':5600,'화이트초콜릿모카':5600,'카페 모카' :5100}
price.pop('스타벅스 돌체라떼')
price

{'카페 모카': 5100, '화이트초콜릿모카': 5600}

In [ ]:
'스타벅스 돌체라떼' in price

False

#### 5. 가격2_톨 그란데, 벤티 가격 추가

In [ ]:
price2 = {'돌체라떼' : {'톨' : 5600, '그란데' : 6100, '벤티' : 6600}, '초콜릿모카' : {'톨' : 5600, '그란데' : 6100, '벤티' : 6600}, '카페모카' : {'톨' : 5100, '그란데' : 5600, '벤티' :6100}}

price

{'돌체라떼': {'톨5600, 그란데6100원, 벤티6600원'},
 '카페모카': {'톨5100원, 그란데5600원, 벤티6100원'},
 '화이트초콜렛모카': {'톨5600원, 그란데6100원, 벤티6600원'}}

In [ ]:
price['돌체라떼']

{'톨5600, 그란데6100원, 벤티6600원'}

In [ ]:
price.values()

dict_values([{'톨5600, 그란데6100원, 벤티6600원'}, {'톨5600원, 그란데6100원, 벤티6600원'}, {'톨5100원, 그란데5600원, 벤티6100원'}])

####6.사이즈,가격 추가하기

In [ ]:
list_price ={'돌체 라떼':[5600,6100,6600],'초콜릿 모카' :[5600,6100,6600],'카페모카':[5100,5600,6100]}

In [ ]:
dic_price = {'돌체 라떼':{'톨':5600,'그란데':6100,'벤티':6600},'초콜릿모카':{'톨':5600,'그란데':6100,'벤티':6600},'카페모카':{'톨':5100,'그란데':5600,'벤티':6100}}

price['카페모카']['벤티'] 출력하기

In [ ]:
price['카페모카']['벤티']

TypeError: ignored

####7. 라떼, 아메리카노 추가하기

In [ ]:
list_price['카페라떼']=[4600,5100,5600]

list_price['아메리카노']=[4100,4600,5100]

####8. 메뉴명을 리스트로 가져오기

In [ ]:
list(price.keys())

['돌체라떼', '화이트초콜렛모카', '카페모카']

In [ ]:
list(dic_price.keys())

####9. 가격을 리스트로 가져오기

In [ ]:
list(iist_price.values())

In [ ]:
list()

========================